{% extends 'base.html' %}

{% block title %}
Info
{% endblock %}


{% block content %}
<h1><p class="text-center">Information</p></h1>
<p class='ex2'>This page will show you The Basics of Math:</p>
<ul class = "ex1" type="I">
  <li><h1>Basic Math Operations(1)</h1></li>
  <li>The basic math operations are:</li>
    <ul class='ex1' type="I">
      <li><h1>Addition:</h1> a + b = the value of a plus the value of b(ex:1+4=5)</li>
      <li><h1>Subtraction:</h1> a - b = the value of a minus the value of b(ex:5-1=4)</li>
      <li><h1>Multiplication:</h1>: a * b = the value of a multiplied by the value of b(ex:5 * 3=5 + 5 + 5 = 15)</li>
      <li><h1>Divison:</h1> a : b = the value of a divided by the value of b(ex:15:5=3)</li>
    </ul>
  <li><h1>Basic Geometry(2)</h1></li>
  <li>Basic Geometry consists of:</li>
   <ul class = 'ex1' type='I'>
     <li><h1>Lines:</h1><li>
     <img width="450" src="https://i.pinimg.com/originals/35/11/89/351189298b9ef7aa3551472e078551c5.jpg"/>
     <li><h1>Basic geometric shapes:</h1></li>
     <img width="450" src="http://2.bp.blogspot.com/-_yek8GIfV6s/UyGsV1i4WxI/AAAAAAAACwA/qch4_hQaKbc/s1600/2dshape_2d_shape.jpg"/>
     <li><h1>Angles:</h1></li>
     <img width="450" src="https://i.ytimg.com/vi/pjoATPwjJLk/maxresdefault.jpg"/>
   </ul>
</ul>
{% endblock %}